
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

*{box-sizing: border-box;}


body{
  background-image: url("/Users/franziska/Documents/GitHub/ThirdStep/images/fireworks.jpg");
  background-size: cover;
  background-position: center center;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Poppins, sans-serif;
  margin: 0;
}
h1{
  font-size: 3rem;
  letter-spacing: 1rem;
  margin-top: 20rem;
  text-align: center;
}
.countdown-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.big-text{
  display: flex;
  font-size: 6rem;
  font-weight:bold;
  line-height: 1;
  margin: 0 2rem;
}
.countdown-el{
text-align: center;
}
.countdown-el span{
  font-size:1rem;
}